<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button><a href="/">Add Data</a></button>
    <br>
    <br>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>City</th>
        </tr>
        {% for test in test_data %}
        <tr>
            <td>{{test.name}}</td>
            <td>{{test.age}}</td>
            <td>{{test.city}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>