<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Customer List</h1>
    <table border="1">
        <tr>
            <th>Customer ID</th>
            <th>Store ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Address ID</th>
            <th>Active</th>
            <th>Create Date</th>
            <th>Last Update</th>
        </tr>
        {% for customer in test %}
        <tr>
            <td>{{customer.customer_id}}</td>
            <td>{{customer.store_id}}</td>
            <td>{{customer.first_name}}</td>
            <td>{{customer.last_name}}</td>
            <td>{{customer.email}}</td>
            <td>{{customer.address_id}}</td>
            <td>{{customer.active}}</td>
            <td>{{customer.create_date}}</td>
            <td>{{customer.last_update}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>