<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Users List</h1>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Trainer</th>
        </tr>
        {% for i in test_users %}
        <tr>
            <td>{{i.name}}</td>
            <td>{{i.age}}</td>
            <td>{{i.Trainer}}</td>
        </tr>
        {% endfor %}
    </table>
    
</body>
</html>